<router-outlet></router-outlet>


<div class="form-group">
<div class="btn-group">
  <button mat-raised-button  (click)="useLanguage('ta')">  {{'login.button.ta' | translate}}  </button>
  <button mat-raised-button  (click)="useLanguage('fr')">  {{'login.button.fr' | translate}}  </button>
  <button mat-raised-button  (click)="useLanguage('zh')">  {{'login.button.zh' | translate}}  </button>
  <button mat-raised-button  (click)="useLanguage('en')"> {{'login.button.en' | translate}} </button>
</div>
</div>